<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regarding your application to Businessbrace360</title>
    <style>
        .main {
            width: 40%;
            margin: 0 auto;
            /* border: 1px solid; */
            height: 500px;
            padding: 1%;
            border-radius: 10px;
        }
        h3 {
            background: skyblue;
            padding: 1%;
        }
        .footer {
            background: skyblue;
            padding: 1%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <p>
            Dear {{first_name}}, <br><br> 
            Congratulations! <br><br>

            You have done well and have meet our every expectation and we are happy to welcome you aboard. 
            <br><br>
            You will be receiving a link to you new dashboard where you will get onboaded
            We wish you all the best and hope to see you soon!
        <p>
    </div>
</body>
</html>