<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regarding your application to Businessbrace360</title>
    <style>
        .main {
            width: 40%;
            margin: 0 auto;
            /* border: 1px solid; */
            height: 500px;
            padding: 1%;
            border-radius: 10px;
        }
        h3 {
            background: skyblue;
            padding: 1%;
        }
        .footer {
            background: skyblue;
            padding: 1%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <p>
            Dear {{first_name}}, <br><br> 
            Congratulations on making it to the remote test stage of our recruitment process. <br><br>

            To complete the recruitment process, you are required to complete a short technical challenge that will 
            be used to determine your technical skill level in the preferred tools and technologies of your choice.<br><br>

            Please complete the challenge in the attached document and reply to the email with liks to your complete work
             on or before Thrusday, July 16th, 2020 by 6:00 pm.<br><br>

            We wish you all the best!
        <p>
    </div>
</body>
</html>